[submodule "adc-to-opfb"]
	path = adc-to-opfb
	url = http://github.com/MazinLab/adc-to-opfb.git
[submodule "opfb-fir-cfg"]
	path = opfb-fir-cfg
	url = http://github.com/MazinLab/opfb-fir-cfg.git
[submodule "opfb-fir-to-fft"]
	path = opfb-fir-to-fft
	url = http://github.com/MazinLab/opfb-fir-to-fft.git
[submodule "opfb-bin-to-res"]
	path = opfb-bin-to-res
	url = http://github.com/MazinLab/opfb-bin-to-res.git
[submodule "resonator-dds"]
	path = resonator-dds
	url = http://github.com/MazinLab/resonator-dds.git
[submodule "pkg-fft-output"]
	path = pkg-fft-output
	url = http://github.com/MazinLab/pkg-fft-output.git
[submodule "photon-trigger"]
	path = photon-trigger
	url = http://github.com/MazinLab/photon-trigger.git
[submodule "phasematch-fir-cfg"]
	path = phasematch-fir-cfg
	url = http://github.com/MazinLab/phasematch-fir-cfg.git
