[submodule "adc-to-opfb"]
	path = adc-to-opfb
	url = http://github.com/MazinLab/adc-to-opfb.git
[submodule "opfb-fir-cfg"]
	path = opfb-fir-cfg
	url = http://github.com/MazinLab/opfb-fir-cfg.git
[submodule "opfb-fir-to-fft"]
	path = opfb-fir-to-fft
	url = http://github.com/MazinLab/opfb-fir-to-fft.git
[submodule "opfb-bin-to-res"]
	path = opfb-bin-to-res
	url = http://github.com/MazinLab/opfb-bin-to-res.git
[submodule "resonator-dds"]
	path = resonator-dds
	url = http://github.com/MazinLab/resonator-dds.git
[submodule "pkg-fft-output"]
	path = pkg-fft-output
	url = http://github.com/MazinLab/pkg-fft-output.git
[submodule "photon-trigger"]
	path = photon-trigger
	url = http://github.com/MazinLab/photon-trigger.git
[submodule "phasematch-fir-cfg"]
	path = phasematch-fir-cfg
	url = http://github.com/MazinLab/phasematch-fir-cfg.git
[submodule "dac-replay"]
	path = dac-replay
	url = http://github.com/MazinLab/dac-replay.git
[submodule "iq-capture"]
	path = iq-capture
	url = https://github.com/Mazinlab/iq-capture
[submodule "gen3-timekeeper"]
	path = gen3-timekeeper
	url = https://github.com/Mazinlab/gen3-timekeeper
[submodule "iq-generator"]
	path = iq-generator
	url = http://github.com/mazinlab/iq-generator
[submodule "phase-user-attach"]
	path = phase-user-attach
	url = https://github.com/mazinlab/phase-user-attach.git
	branch = develop
[submodule "wb2axip"]
	path = wb2axip
	url = https://github.com/mazinlab/wb2axip.git
[submodule "capture-upsizer"]
	path = capture-upsizer
	url = https://github.com/mazinlab/capture-upsizer
[submodule "ssrfft_16x4096"]
	path = ssrfft_16x4096
	url = https://github.com/MazinLab/ssrfft_16x4096.git
